@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        @if(User is not null)
        {
            <div class="top-row px-4">
                <div>
                    <h1>@User.Nom</h1>
                </div>
                <div>
                    <h2>@User.Email</h2>
                </div>
                <div>
                    <button @onclick="Disconnect">Se déconnecter</button>
                </div>
            </div>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
